/**
 * @name discord-icons
 * @author yilmazcabuk
 * @description A lightweight theme that adds more icons to your settings.
 * @source https://github.com/yilmazcabuk/discord-icons
 * @version v0.3.10
 */
@import url("https://yilmazcabuk.github.io/discord-icons/main.css");

:root {
  /* Base URL for icons */
  --si-icon-base-url: "https://raw.githubusercontent.com/yilmazcabuk/discord-icons/master/Icons/SVG/";
  
  /* Core Settings */
  --si-size: 24px;
  --si-height: 32px;
  --si-animations: true;
  --si-expand: false;
  --si-presets: true;
  --si-permacolor: false;
  --si-color: currentColor;
  --si-opacity: 0.4;
  --si-opacity-hover: 0.8;

  /* Icon Definitions */
  --si-my-account: url(var(--si-icon-base-url)"Manage_Accounts.svg");
  --si-profile-customization: url(var(--si-icon-base-url)"Style.svg");
  --si-content-social: url(var(--si-icon-base-url)"Groups.svg");
  --si-data-privacy: url(var(--si-icon-base-url)"Security.svg");
  --si-family-center: url(var(--si-icon-base-url)"Supervisor_Account.svg");
  --si-authorized-apps: url(var(--si-icon-base-url)"App_Registration.svg");
  --si-sessions: url(var(--si-icon-base-url)"Devices.svg");
  --si-connections: url(var(--si-icon-base-url)"Link.svg");
  --si-settings-clips: url(var(--si-icon-base-url)"Theaters.svg");
  --si-discord-nitro: url(var(--si-icon-base-url)"Discord/Nitro.svg");
  --si-nitro-server-boost: url(var(--si-icon-base-url)"Discord/Server_Boost.svg");
  --si-subscriptions: url(var(--si-icon-base-url)"Fact_Check.svg");
  --si-library-inventory: url(var(--si-icon-base-url)"Redeem.svg");
  --si-billing: url(var(--si-icon-base-url)"Receipt_Long.svg");
  --si-appearance: url(var(--si-icon-base-url)"Brush.svg");
  --si-accessibility: url(var(--si-icon-base-url)"Accessibility_New.svg");
  --si-voice-video: url(var(--si-icon-base-url)"Perm_Camera_Mic.svg");
  --si-powermode-settings: url(var(--si-icon-base-url)"Discord/Party.svg");
  --si-text-images: url(var(--si-icon-base-url)"Chat.svg");
  --si-notifications: url(var(--si-icon-base-url)"Notifications_Active.svg");
  --si-keybinds: url(var(--si-icon-base-url)"Keyboard.svg");
  --si-language: url(var(--si-icon-base-url)"Translate.svg");
  --si-windows: url(var(--si-icon-base-url)"Logo-Windows.svg");
  --si-linux: url(var(--si-icon-base-url)"Logo-Tux.svg");
  --si-streamer-mode: url(var(--si-icon-base-url)"Videocam.svg");
  --si-advanced: url(var(--si-icon-base-url)"Tune.svg");
  --si-vencordsettings: url("https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg");
  --si-vencordplugins: url(var(--si-icon-base-url)"Extention.svg");
  --si-vencordthemes: url(var(--si-icon-base-url)"Format_Paint.svg");
  --si-vencordupdater: url(var(--si-icon-base-url)"System_Update_Alt.svg");
  --si-vencordcloud: url(var(--si-icon-base-url)"Cloud.svg");
  --si-vencordsettingssync: url(var(--si-icon-base-url)"Backup.svg");
  --si-vesktop: url(var(--si-icon-base-url)"Vencord.svg");
  --si-activity-privacy: url(var(--si-icon-base-url)"Privacy.svg");
  --si-game-activity: url(var(--si-icon-base-url)"Gamepad.svg");
  --si-overlay: url(var(--si-icon-base-url)"Overlay.svg");
  --si-changelog: url(var(--si-icon-base-url)"Update.svg");
  --si-merchandise: url(var(--si-icon-base-url)"Shirt.svg");
  --si-hypesquad-online: url(var(--si-icon-base-url)"Discord/HypeSquad.svg");
  --si-experiments: url(var(--si-icon-base-url)"Experiment.svg");
  --si-developer-options: url(var(--si-icon-base-url)"Memory.svg");
  --si-hotspot-options: url(var(--si-icon-base-url)"Memory.svg");
  --si-dismissible-content-options: url(var(--si-icon-base-url)"Memory.svg");
  --si-payment-flow-modals: url(var(--si-icon-base-url)"Memory.svg");
  --si-revenue-storybook: url(var(--si-icon-base-url)"Memory.svg");
  --si-virtual-currency-configuration: url(var(--si-icon-base-url)"Memory.svg");
  --si-design-system: url(var(--si-icon-base-url)"Memory.svg");
  --si-text-playground: url(var(--si-icon-base-url)"Memory.svg");
  --si-text-component: url(var(--si-icon-base-url)"Memory.svg");
  --si-intl-testing: url(var(--si-icon-base-url)"Memory.svg");
  --si-profile-effects-preview-tool: url(var(--si-icon-base-url)"Memory.svg");
  --si-nameplates-preview-tool: url(var(--si-icon-base-url)"Memory.svg");
  --si-web-setting-tree-tool: url(var(--si-icon-base-url)"Memory.svg");
  --si-logout: url(var(--si-icon-base-url)"Logout.svg");
  --si-overview: url(var(--si-icon-base-url)"Info.svg");
  --si-roles: url(var(--si-icon-base-url)"Badge.svg");
  --si-emoji: url(var(--si-icon-base-url)"Emoji.svg");
  --si-stickers: url(var(--si-icon-base-url)"Stickers.svg");
  --si-soundboard: url(var(--si-icon-base-url)"Soundboard.svg");
  --si-widget: url(var(--si-icon-base-url)"Widgets.svg");
  --si-guild_templates: url(var(--si-icon-base-url)"Library_Books.svg");
  --si-vanity_url: url(var(--si-icon-base-url)"Share.svg");
  --si-integrations: url(var(--si-icon-base-url)"Mediation.svg");
  --si-app_directory: url(var(--si-icon-base-url)"Apps.svg");
  --si-moderation: url(var(--si-icon-base-url)"Safety_Setup.svg");
  --si-safety: url(var(--si-icon-base-url)"Safety_Setup.svg");
  --si-guild_automod: url(var(--si-icon-base-url)"AutoMod.svg");
  --si-audit_log: url(var(--si-icon-base-url)"Audit_Log.svg");
  --si-bans: url(var(--si-icon-base-url)"Gavel.svg");
  --si-community: url(var(--si-icon-base-url)"Info.svg");
  --si-onboarding: url(var(--si-icon-base-url)"Group_Add.svg");
  --si-analytics: url(var(--si-icon-base-url)"Insights.svg");
  --si-partner: url(var(--si-icon-base-url)"Discord/Partner.svg");
  --si-discovery: url(var(--si-icon-base-url)"Explore.svg");
  --si-community_welcome: url(var(--si-icon-base-url)"Explore.svg");
  --si-guild_premium: url(var(--si-icon-base-url)"Discord/Server_Boost.svg");
  --si-role_subscriptions: url(var(--si-icon-base-url)"Fact_Check.svg");
  --si-members: url(var(--si-icon-base-url)"Group.svg");
  --si-instant_invites: url(var(--si-icon-base-url)"Send.svg");
  --si-delete: url(var(--si-icon-base-url)"Delete.svg");
  --si-permissions: url(var(--si-icon-base-url)"Permissions.svg");

  /* Color Definitions */
  --si-color-my-account: var(--si-color);
  --si-color-profile-customization: var(--si-color);
  --si-color-content-social: var(--si-color);
  --si-color-data-privacy: var(--si-color);
  --si-color-family-center: var(--si-color);
  --si-color-authorized-apps: var(--si-color);
  --si-color-sessions: var(--si-color);
  --si-color-connections: var(--si-color);
  --si-color-settings-clips: var(--si-color);
  --si-color-discord-nitro: var(--brand-500);
  --si-color-nitro-server-boost: var(--guild-boosting-pink);
  --si-color-subscriptions: var(--si-color);
  --si-color-library-inventory: var(--si-color);
  --si-color-billing: var(--si-color);
  --si-color-appearance: var(--si-color);
  --si-color-accessibility: var(--si-color);
  --si-color-voice-video: var(--si-color);
  --si-color-powermode-settings: var(--si-color);
  --si-color-text-images: var(--si-color);
  --si-color-notifications: var(--si-color);
  --si-color-keybinds: var(--si-color);
  --si-color-language: var(--si-color);
  --si-color-windows: var(--si-color);
  --si-color-linux: var(--si-color);
  --si-color-streamer-mode: var(--si-color);
  --si-color-advanced: var(--si-color);
  --si-color-vencordsettings: var(--si-color);
  --si-color-vencordplugins: var(--si-color);
  --si-color-vencordthemes: var(--si-color);
  --si-color-vencordupdater: var(--si-color);
  --si-color-vencordcloud: var(--si-color);
  --si-color-vencordsettingssync: var(--si-color);
  --si-color-vesktop: var(--si-color);
  --si-color-activity-privacy: var(--si-color);
  --si-color-game-activity: var(--si-color);
  --si-color-overlay: var(--si-color);
  --si-color-changelog: var(--si-color);
  --si-color-merchandise: var(--si-color);
  --si-color-hypesquad-online: var(--si-color);
  --si-color-experiments: var(--si-color);
  --si-color-developer-options: var(--si-color);
  --si-color-hotspot-options: var(--si-color);
  --si-color-dismissible-content-options: var(--si-color);
  --si-color-payment-flow-modals: var(--si-color);
  --si-color-revenue-storybook: var(--si-color);
  --si-color-virtual-currency-configuration: var(--si-color);
  --si-color-design-system: var(--si-color);
  --si-color-text-playground: var(--si-color);
  --si-color-text-component: var(--si-color);
  --si-color-intl-testing: var(--si-color);
  --si-color-profile-effects-preview-tool: var(--si-color);
  --si-color-nameplates-preview-tool: var(--si-color);
  --si-color-web-setting-tree-tool: var(--si-color);
  --si-color-logout: var(--si-color);
  --si-color-overview: var(--si-color);
  --si-color-roles: var(--si-color);
  --si-color-emoji: var(--si-color);
  --si-color-stickers: var(--si-color);
  --si-color-soundboard: var(--si-color);
  --si-color-widget: var(--si-color);
  --si-color-guild_templates: var(--si-color);
  --si-color-vanity_url: var(--si-color);
  --si-color-integrations: var(--si-color);
  --si-color-app_directory: var(--si-color);
  --si-color-moderation: var(--si-color);
  --si-color-safety: var(--si-color);
  --si-color-guild_automod: var(--si-color);
  --si-color-audit_log: var(--si-color);
  --si-color-bans: var(--si-color);
  --si-color-community: var(--si-color);
  --si-color-onboarding: var(--si-color);
  --si-color-analytics: var(--si-color);
  --si-color-partner: var(--si-color);
  --si-color-discovery: var(--si-color);
  --si-color-community_welcome: var(--si-color);
  --si-color-guild_premium: var(--guild-boosting-pink);
  --si-color-role_subscriptions: var(--si-color);
  --si-color-members: var(--si-color);
  --si-color-instant_invites: var(--si-color);
  --si-color-delete: var(--si-color);
  --si-color-permissions: var(--si-color);
}
