@use "sass:string";
@use "functions";
@use "presets";
@use "variables";

/* PROPERTIES */
:root {
  container: root;
}

// Define CSS custom properties with common properties
@mixin define-custom-property($property-name, $syntax-type, $default-value) {
  @property --si-#{$property-name} {
    syntax: $syntax-type;
    inherits: true;
    initial-value: $default-value;
  }
}

// Base properties
@include define-custom-property(size, "<length>", 24px);
@include define-custom-property(height, "<length>", 32px);
@include define-custom-property(gap, "<length>", 10px);
@include define-custom-property(animations, "true | false", true);
@include define-custom-property(expand, "true | false", false);
@include define-custom-property(permanentcolor, "true | false", false);
@include define-custom-property(color, "<color>", currentColor);
@include define-custom-property(opacity, "<number>", 0.4);
@include define-custom-property(opacity-hover, "<number>", 0.8);

// Generate properties from icon maps
@mixin generate-icon-properties($icon-map) {
  @each $icon-name, $icon-url in $icon-map {
    @include define-custom-property(
      #{functions.str-replace($icon-name, "-&-", "")},
      "<url>",
      url(#{$icon-url})
    );
  }
}

@include generate-icon-properties(variables.$miscSettingsIcons);
@include generate-icon-properties(variables.$userSettingsIcons);
@include generate-icon-properties(variables.$serverSettingsIcons);
@include generate-icon-properties(variables.$channelSettingsIcons);

// SettingsIcons Parity Fix
:root {
  @mixin generate-parity-variables($icon-map) {
    @each $icon-name, $icon-url in $icon-map {
      $cleaned-icon-name: functions.str-replace($icon-name, "-&", "");
      @if string.index($icon-name, "_") {
        --si-#{functions.str-replace($icon-name, '_', '')}: var(
          --si-#{$cleaned-icon-name}
        );
      }
      @if string.index($icon-name, "-") {
        --si-#{functions.str-replace(functions.str-replace($icon-name, '-', ''), '&', '')}: var(
          --si-#{$cleaned-icon-name}
        );
      }
    }
  }

  @include generate-parity-variables(variables.$miscSettingsIcons);
  @include generate-parity-variables(variables.$userSettingsIcons);
  @include generate-parity-variables(variables.$serverSettingsIcons);
  @include generate-parity-variables(variables.$channelSettingsIcons);
}

// Generate color variables
:root {
  @mixin generate-color-variables($icon-map) {
    @each $icon-name, $icon-url in $icon-map {
      $cleaned-icon-name: functions.str-replace($icon-name, "-&", "");
      --si-color-#{$cleaned-icon-name}: #{if(
          functions.in_map(presets.$presetColors, $icon-name),
          functions.map_get(presets.$presetColors, $icon-name),
          var(--si-color)
        )};
    }
  }

  @include generate-color-variables(variables.$userSettingsIcons);
  @include generate-color-variables(variables.$serverSettingsIcons);
  @include generate-color-variables(variables.$channelSettingsIcons);
}
