/* SETTINGS SIDEBAR */
%settingsSidebar {
  %tabBarItem {
    --icon-padding: calc((var(--si-height) - var(--si-size)) / 2);
    padding: var(--icon-padding) 4px !important;
    line-height: var(--si-size);

    // Remove existing icons
    :is(svg, img) {
      display: none !important;
    }

    // ICON ANIMATIONS
    @container root style(--si-animations: true) {
      border-radius: 4px 0 0 4px;
      transform: translateZ(0);
      transition: transform 220ms ease;

      &:hover,
      &%tabBarItemSelected {
        transform: translateX(8px);
        transition-duration: 160ms;
      }
    }

    // ICON PERMACOLOR
    @container root style(--si-permacolor: true) {
      &::before {
        background-color: var(--si-color);
      }
    }

    // ICON EXPAND
    @container root style(--si-expand: true) {
      --expansion-width: calc(var(--si-size) * 4 / 3);

      &:hover,
      &%tabBarItemSelected {
        min-width: calc(
          var(--custom-standard-sidebar-view-sidebar-content-width) +
            var(--expansion-width)
        );
        margin-left: calc(-1 * var(--expansion-width));
      }
    }

    // BACKGROUND FIXES
    %settingsSidebarNitroSelected {
      background-color: unset !important;
    }

    &%tabBarItemSelected%settingsSidebarServerBoost {
      background-color: var(--background-modifier-selected) !important;
    }

    // RED LOGOUT/DELETE BUTTONS
    &:is([data-tab-id="DELETE"], [data-tab-id="logout"]) {
      color: var(--info-danger-foreground) !important;

      &:hover {
        background-color: var(--info-danger-background) !important;
      }

      &::before {
        opacity: 0.6 !important;
      }

      &:hover::before {
        opacity: 1 !important;
      }
    }
  }
}
